
<ActionBar title = "Demo App"></ActionBar>
<GridLayout>
    <StackLayout class="login-panel">
        <TextField class = "txtField-css"
                  hint="Enter email"
                  [(ngModel)]="this.loginModel.email"
                  secure="false"
                 autocorrect="false"
                 autocapitalize="false"></TextField>
        <TextField class = "txtField-css"
                   hint="Enter password"
                   [(ngModel)]="this.loginModel.password"
                   secure="true"
                   autocorrect="false"
                   minLength="8"></TextField>
        <Button class = "actionButton-css"
                text="Login"
                fontSize="16"
                (tap)="onClickLogin($event)"></Button>
        <!-- <Button text="Login" [nsRouterLink]="['/this.loginModel', this.loginModel.email]"  -->
        <!-- pageTransition="slide" clearHistory="true"></Button> -->
    </StackLayout>
</GridLayout>

