.dashboard-css{
    vertical-align:top;
    margin-top: 10;
    margin-left: 20;
    margin-right: 20;
    background-color:bisque;
    border-radius: 4;
    height: 95%;
}

.label-css{
    font-size: 14;
    margin-left: 20;
    margin-right: 10;
    margin-top: 10;
}

Image {
    margin-top:20px;
    width: 90%;
    height:30%;
}

.txtField-css{
    margin-top: 20;
    padding-left: 20;
    font-size: 15;
    text-align: left;
    border: black;
    border-radius: 4;
    padding-left: 5;
    padding-right: 5;
    background-color:lightyellow;
    height: 35;
    padding-top: 15;
}

.big-label {
    font-size: 50;
    font-family: monospace;
    font-weight: 100;
    background-color: #3a53ff;
    color: white;
    border-radius: 10;
    padding-left: 100;
    padding-right: 100;
}

.dashboardButton-css{
    border-radius: 4;
    background-color: cornflowerblue;
    color: white;
}
.view {
    animation-name: rotate;
    animation-duration: 3;
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

